.breadcrumb {
    display: flex;
    gap: 10px;
    list-style-type: none;
    a {
        text-decoration: none;
        color: pink;
    }
    &__item {
        color: pink;
    }
    &__item::after {
        content: ">";
        margin-right: 10px;
        color: black;
    }
    &__item::before {
        content: "";
    }
}